.Navbar-aside {
  height: 100%;
  padding: 10px 0;
}

.Navbar-aside > ul {
  height: 100%;
  margin: 0;
}

.Navbar-aside > ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.Navbar-aside > ul li a {
  display: inline-block;
  vertical-align: bottom;
  line-height: 32px;
}
.Navbar-aside > ul li > * {
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

.Navbar-aside > ul li .searchButton {
  position: relative;
  margin-top: 5px;
}
.Navbar-aside > ul li .signUpButton {
  margin-right: 10px;
}

.Navbar-aside > ul .leftDivision {
  display: inline-flex;
}
.Navbar-aside > ul .leftDivision::before {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e1e2e3;
  margin: auto 10px;
}

.Navbar-aside > ul li .dashboardButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 10px;
  font-weight: 400;
}
svg:not(:root) {
  overflow: hidden;
}
@media (max-width: 767px) {
  .Navbar-aside {
    padding: 14px 14px;
    /* margin-right: 5px; */
  }
  .Navbar-aside > ul {
    margin-top: -5px;
  }
  .Navbar-aside > ul li .searchButton {
    margin: 0;
  }
  .Navbar-aside > ul li .signUpButton {
    display: none;
  }
  .Navbar-aside > ul .mdMoreVisible {
    display: none;
  }
  .Navbar-aside > ul li .dashboardButton {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Navbar-aside > ul li .searchButton {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .Navbar-aside > ul li > * {
    padding: 0 10px;
  }
  .asideVisibleMenu {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .Navbar-aside > ul li .signUpButton {
    margin-right: 0;
    padding: 0 3px;
  }
  .dashboardButton {
    margin: 0;
  }
  .asideVisibleMenu {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .Navbar-aside > ul li .signUpButton {
    display: none;
  }
  .Navbar-aside > ul .mdMoreVisible {
    display: none;
  }
  .Navbar-aside > ul li .dashboardButton {
    margin: 0;
  }
}
