.NavBar-Maincontainer .NavBar-Subcontainer ul {
  height: inherit;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBar-Maincontainer .NavBar-Subcontainer li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  cursor: pointer;
  padding: 15px;
  line-height: 200;
  position: relative;
}

.NavBar-Maincontainer .NavBar-Subcontainer li a > em {
  position: relative;
  top: -5px;
}
