.Main-container {
  padding-top: 25px;
  /* overflow: scroll; */
  /* overflow: hidden; */
  /* position: relative; */
}

.Main-container::before {
}

.Slide-container {
  position: relative;
  overflow: hidden;
  /* width: 100%;
  height: 600px; */

  height: 600px;
  margin: 0;
  /* position: relative; */
}
.Slide-list {
  /* overflow: hidden; */
  /* overflow: scroll; */
  position: relative;
  display: flex;
  /* position: relative;
  left: 0;
  top: 0;
  display: block; */
  /* right: 929px; */
}
