@import url(./css/Addon.css);
@import url(./css/MenuList.css);
@import url(./css/WantedTitle.css);
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
div {
  display: block;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
/* NavBar */
.NavBar-Maincontainer {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  height: 50px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
}
ul {
  list-style: none;
}

.NavBar-Maincontainer .NavBar-Subcontainer {
  position: relative;
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .NavBar-Maincontainer .NavBar-Subcontainer {
    margin: 0 auto;
    height: 50px;
    width: 87.72%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .NavBar-container-contentsBox {
    width: 90%;
    margin: 0 auto;
    height: 50px;
  }
}

/* 
@media (min-width: 768px) and (max-width: 991px) {
  .MainBar_MainBar__40DX7 {
    margin: 0 auto;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .MainBar_MainBar__40DX7,
  .MainBar_MainBar__40DX7.isLoggedIn {
    height: 110px;
  }
} */
